<%= form_for(doctor) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :consultant %>
    <%= f.select :consultant, ['true','false'] %>
  </div>

  <div class="field">
    <%= f.label :contact_preference %>
    <%= f.select :contact_preference, ['Email','SMS','None'] %>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="field">
    <%= f.label :notification_group %>
    <%= f.text_field :notification_group %>
  </div>

  <div class="field">
    <b>Rota Preferences</b>
    <table class="table table-bordered">
      <tr>
        <th colspan=2>Monday</td>
        <th colspan=2>Tuesday</td>
        <th colspan=2>Wednesday</td>
        <th colspan=2>Thursday</td>
        <th colspan=2>Friday</td>
        <th colspan=2>Saturday</td>
        <th colspan=2>Sunday</td>
    </tr>
      <tr>
        <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
          <th>Nights</th>
          <th>Days</th>
          <th>Nights</th>
          <th>Days</th>
            <th>Nights</th>
      </tr>
      <tr>
        <td><%= f.check_box :monday_days, {}, true, false %></td>
        <td><%= f.check_box :monday_nights, {}, true, false %></td>
        <td><%= f.check_box :tuesday_days, {}, true, false %></td>
        <td><%= f.check_box :tuesday_nights, {}, true, false %></td>
        <td><%= f.check_box :wednesday_days, {}, true, false %></td>
        <td><%= f.check_box :wednesday_nights, {}, true, false %></td>
        <td><%= f.check_box :thursday_days, {}, true, false %></td>
        <td><%= f.check_box :thursday_nights, {}, true, false %></td>
        <td><%= f.check_box :friday_days, {}, true, false %></td>
        <td><%= f.check_box :friday_nights, {}, true, false %></td>
        <td><%= f.check_box :saturday_days, {}, true, false %></td>
        <td><%= f.check_box :saturday_nights, {}, true, false %></td>
        <td><%= f.check_box :sunday_days, {}, true, false %></td>
        <td><%= f.check_box :sunday_nights, {}, true, false %></td>
      </tr>
    </table>
  </div>

    <% if current_doctor.admin == true %>
  <div class="field">
    <%= f.label :admin %>
    <%= f.select :admin, ['true','false'] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
