<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@doctor, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :consultant %>
      <%= f.select :consultant, ['True','False'] %>

        <%= f.label :contact_preference %>
        <%= f.select :contact_preference, ['Email','SMS','None'] %>


        <table>
          <tr>
            <td>
              <%= f.label :admin %></td>
            <td>
          Yes<%= f.radio_button :admin, 'true' %></td><td>
          No<%= f.radio_button :admin, 'false' %></td>
        </tr>
        </table>

        <%= f.label :mobile %>
        <%= f.text_field :mobile %>

        <%= f.label :notification_group %>
        <%= f.text_field :notification_group %>

<b>Rota Preferences</b>
<table class="table table-bordered">
  <tr>
    <th colspan=2>Monday</td>
    <th colspan=2>Tuesday</td>
    <th colspan=2>Wednesday</td>
    <th colspan=2>Thursday</td>
    <th colspan=2>Friday</td>
    <th colspan=2>Saturday</td>
    <th colspan=2>Sunday</td>
</tr>
  <tr>
    <th>Days</th>
    <th>Nights</th>
    <th>Days</th>
    <th>Nights</th>
    <th>Days</th>
    <th>Nights</th>
    <th>Days</th>
    <th>Nights</th>
    <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
        <th>Nights</th>
  </tr>
  <tr>
    <td><%= f.check_box :monday_days, {}, true, false %></td>
    <td><%= f.check_box :monday_nights, {}, true, false %></td>
    <td><%= f.check_box :tuesday_days, {}, true, false %></td>
    <td><%= f.check_box :tuesday_nights, {}, true, false %></td>
    <td><%= f.check_box :wednesday_days, {}, true, false %></td>
    <td><%= f.check_box :wednesday_nights, {}, true, false %></td>
    <td><%= f.check_box :thursday_days, {}, true, false %></td>
    <td><%= f.check_box :thursday_nights, {}, true, false %></td>
    <td><%= f.check_box :friday_days, {}, true, false %></td>
    <td><%= f.check_box :friday_nights, {}, true, false %></td>
    <td><%= f.check_box :saturday_days, {}, true, false %></td>
    <td><%= f.check_box :saturday_nights, {}, true, false %></td>
    <td><%= f.check_box :sunday_days, {}, true, false %></td>
    <td><%= f.check_box :sunday_nights, {}, true, false %></td>
  </tr>
</table>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
