
  <b>Rota Preferences</b>
  <br>
  <br>
  <table class="table table-bordered">
    <tr>
      <th colspan=2>Monday</td>
      <th colspan=2>Tuesday</td>
      <th colspan=2>Wednesday</td>
      <th colspan=2>Thursday</td>
      <th colspan=2>Friday</td>
      <th colspan=2>Saturday</td>
      <th colspan=2>Sunday</td>
  </tr>
    <tr>
      <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
      <th>Nights</th>
      <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
        <th>Nights</th>
        <th>Days</th>
          <th>Nights</th>
    </tr>
    <tr>
      <td><%= @monday_days %></td>
      <td><%= @monday_nights %></td>
      <td><%= @tuesday_days %></td>
      <td><%= @tuesday_nights %></td>
      <td><%= @wednesday_days %></td>
      <td><%= @wednesday_nights %></td>
      <td><%= @thursday_days %></td>
      <td><%= @thursday_nights %></td>
      <td><%= @friday_days %></td>
      <td><%= @friday_nights %></td>
      <td><%= @saturday_days %></td>
      <td><%= @saturday_nights %></td>
      <td><%= @sunday_days %></td>
      <td><%= @sunday_nights %></td>
    </tr>
  </table>
</p>

<%= link_to 'Back', doctors_path %>
