<%= form_for(rotum) do |f| %>
  <% if rotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>

      <ul>
      <% rotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
   <%= f.label "Location" %>
   <%= f.collection_select(:location_id, Location.all, :id, :name,{}, {:style => "width:200px"}) %>
 </div>

  <div class="field">
    <%= f.label :Date %>
    <%= f.date_select :Date,{}, {:style => "width:100px"} %>
  </div>

<table class="table table-striped">
  <tr>
  <th><%= f.label :First_on_call_day %></th>
  <th><%= label_tag(:First_on_call_day_trade, "Propose trade") %></th>
  <th><%= label_tag(:First_on_call_day_trade, "Do not trade") %></th>
</tr><tr>
<td><%= f.collection_select(:First_on_call_day_id, Doctor.all, :id, :name,{:include_blank => true}, {:style => "width:300px", :include_blank => true }) %></td>
<td><%= f.radio_button :First_on_call_day_trade, 'true' %></td>
<td><%= f.radio_button :First_on_call_day_trade, 'false', :checked => true %></td>
<tr>
</table>

<table class="table table-striped">
  <tr>
  <th><%= f.label :First_on_call_nights %></th>
  <th><%= label_tag(:First_on_call_nights_trade, "Propose trade") %></th>
  <th><%= label_tag(:First_on_call_nights_trade, "Do not trade") %></th>
</tr><tr>
<td><%= f.collection_select(:First_on_call_nights_id, Doctor.all, :id, :name,{:include_blank => true}, {:style => "width:300px"}) %></td>
<td><%= f.radio_button :First_on_call_nights_trade, 'true' %></td>
<td><%= f.radio_button :First_on_call_nights_trade, 'false', :checked => true %></td>
<tr>
</table>


  <table class="table table-striped">
    <tr>
    <th><%= f.label :Second_on_call %></th>
    <th><%= label_tag(:Second_on_call_trade, "Propose trade") %></th>
    <th><%= label_tag(:Second_on_call_trade, "Do not trade") %></th>
  </tr><tr>
  <td><%= f.collection_select(:Second_on_call_id, Doctor.all, :id, :name,{:include_blank => true}, {:style => "width:300px"}) %></td>
  <td><%= f.radio_button :Second_on_call_trade, 'true' %></td>
  <td><%= f.radio_button :Second_on_call_trade, 'false', :checked => true %></td>
  <tr>
  </table>
<!--
  <div class="field">
    <%= f.label :Second_on_call %>
    <%= f.collection_select(:Second_on_call_id, Doctor.all, :id, :name,{}, {:style => "width:300px"}) %>
    <%= f.label :Second_on_call_trade %>
    <%= f.select :Second_on_call_trade, options_for_select([['No','false'],['Yes','true']]),{}, {:style => "width:100px"} %>
  </div> -->

  <table class="table table-striped">
    <tr>
    <th><%= f.label :Consultant %></th>
    <th><%= label_tag(:Consultant_trade, "Propose trade") %></th>
    <th><%= label_tag(:Consultant_trade, "Do not trade") %></th>
  </tr><tr>
    <td>
<%= f.collection_select(:Consultant_id, Doctor.where('consultant = ?',true), :id, :name,{:include_blank => true}, {:style => "width:300px"}) %></td>
  <td><%= f.radio_button :Consultant_trade, 'true' %></td>
  <td><%= f.radio_button :Consultant_trade, 'false', :checked => true %></td>
  <tr>
  </table>

  <!-- <div class="field">
    <%= f.label :Consultant %>
    <%= f.collection_select(:Consultant_id, Doctor.where('consultant = ?',true), :id, :name,{}, {:style => "width:300px"}) %>
    <%= f.label :Consultant_trade %>
    <%= f.select :Consultant_trade, options_for_select([['No','false'],['Yes','true']]),{}, {:style => "width:100px"} %>
  </div> -->

  <div class="actions">

    <%= f.submit %>
</div>
<% end %>
