<%= form_for(rotum) do |f| %>
  <% if rotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>

      <ul>
      <% rotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
   <%= f.label "Location" %>
   <%= f.collection_select(:location_id, Location.all, :id, :name) %>
 </div>

  <div class="field">
    <%= f.label :Date %>
    <%= f.date_select :Date %>
  </div>

  <div class="field">
    <%= f.label :First_on_call_day %>
    <%= f.collection_select(:First_on_call_day_id, Doctor.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :First_on_call_nights %>
    <%= f.collection_select(:First_on_call_nights_id, Doctor.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :Second_on_call %>
        <%= f.collection_select(:Second_on_call_id, Doctor.where('consultant = ?',true), :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
