<p id="notice"><%= notice %></p>

<h1>Rota</h1>
<div class="container">
<%= will_paginate @rota %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="rdoctor">Location</th>
      <th class="rdoctor">Date</th>
      <th class="rdoctor">1st on call day</th>
      <th class="rdoctor">1st on call nights</th>
      <th class="rdoctor">2nd on call</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota.each do |rotum| %>
      <tr>
        <td class="rdate"><%= rotum.location.name if rotum.location %></td>
        <td class="rdate"><%= rotum.Date %></td>
        <td class="rdoctor"><%= rotum.First_on_call_day_id %></td>
        <td class="rdoctor"><%= rotum.First_on_call_nights_id %></td>
        <td class="rdoctor"><%= rotum.Second_on_call_id %></td>
        <td><%= link_to 'Show', rotum %></td>
        <td><%= link_to 'Edit', edit_rotum_path(rotum) %></td>
        <td><%= link_to 'Destroy', rotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rota %>
<div>

<br>

<%= link_to 'New Rota', new_rotum_path %>
