<p id="notice"><%= notice %></p>
<h1>Rota Overview</h1>
I am <%= @current_doctor.name %><br>
Admin <%= @current_doctor.admin %>
<%= week_calendar number_of_weeks: 2, events: @rota_cal do |date| %>

  <span style="color:blue"><%= date.strftime("%d %b %y") %></span>

  <% @rota_cal.each do |rotum| %>
    <div>
      <small>
      <% if rotum.Date == date %>
      <B><%= rotum.location.name %></B>
      <br>
      <% if rotum.First_on_call_day_trade? %>
      <span style="color:red">
          <b>*</b>
      <% end %>
      1stD-<%= rotum.First_on_call_day.name %>
    </span>

      <br>
      <% if rotum.First_on_call_nights_trade? %>
  <span style="color:red">
      <b>*</b>
      <% end %>
      1stN-<%= rotum.First_on_call_nights.name %>
      <% if rotum.First_on_call_nights_trade? %>
      <b>*</b>
      <% end %>
      <br>
    </span>

    <% if rotum.Second_on_call_trade? %>
      <span style="color:red">
    <b>*</b>
    <% end %>
      2nd-<%= rotum.Second_on_call.name  %>
    </span>
      <br>

      <% if rotum.Consultant_trade? %>
        <span style="color:red">
      <b>*</b>
      <% end %>
      C-<%= rotum.Consultant.name  %>
</span>

      <% end %>
     </small>
    </div>
  <% end %>
<% end %>
<br>
<h1>Rota Management</h1>
<%= link_to 'New Rota', new_rotum_path, :class => "btn btn-success" %>
  <%= link_to 'Just me', {:controller=>:rota, :action=>'index', :doctor => @current_doctor}, :class => "btn btn-success" %>
  <%= link_to 'All', {:controller=>:rota, :action=>'index'}, :class => "btn btn-success" %>
  <%= link_to 'Market place', {:controller=>:rota, :action=>'index',:market => 'yes'}, :class => "btn btn-success" %>


<div class="container">

<%= will_paginate @rota %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="rdoctor">Location</th>
      <th class="rdoctor">Date</th>
      <th class="rdoctor">1st on call day</th>
      <!-- <th class="rdoctor"><%= link_to image_tag("market.png", alt: "market", size: "20") %></th> -->
<th></th>
      <th class="rdoctor">1st on call nights</th>
      <!-- <th class="rdoctor"><%= link_to image_tag("market.png", alt: "market", size: "20") %></th> -->
<th></th>
      <th class="rdoctor">2nd on call</th>
      <!-- <th class="rdoctor"><%= link_to image_tag("market.png", alt: "market", size: "20") %></th> -->
<th></th>
      <th class="rdoctor">Consultant</th>
      <!-- <th class="rdoctor"><%= link_to image_tag("market.png", alt: "market", size: "20") %></th> -->
<th></th>
<th class="rdoctor">Responses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rota.each do |rotum| %>
      <tr>
        <td class="rdate"><%= rotum.location.name if rotum.location %></td>
        <td class="rdate"><%= rotum.Date.strftime("%a %d %b %y") %></td>
        <td class="rdoctor"><%= rotum.First_on_call_day.name if rotum.First_on_call_day %></td>
        <td class="rdoctor">
    <% if rotum.First_on_call_day_trade? %>

    <%= link_to image_tag("market.png", alt: "trade", size: "20"), edit_rotum_path(rotum) %>
  <% end %></td>
        <td class="rdoctor"><%= rotum.First_on_call_nights.name if rotum.First_on_call_nights %></td>
        <td class="rdoctor">
<% if rotum.First_on_call_nights_trade? %>
<%= link_to image_tag("market.png", alt: "trade", size: "20"), edit_rotum_path(rotum) %>
<% end %></td>
        <td class="rdoctor"><%= rotum.Second_on_call.name if rotum.Second_on_call %></td>
        <td class="rdoctor">
<% if rotum.Second_on_call_trade? %>
<%= link_to image_tag("market.png", alt: "trade", size: "20"), edit_rotum_path(rotum) %>
<% end %></td>
        <td class="rdoctor"><%= rotum.Consultant.name if rotum.Consultant  %></td>
        <td class="rdoctor">
  <% if rotum.Consultant_trade? %>
  <%= link_to image_tag("market.png", alt: "trade", size: "20"), edit_rotum_path(rotum) %>
  <% end %></td>
        <td><%= rotum.Microposts.all.count %></td>
        <td><%= link_to 'Responses', rotum %></td>
        <td><%= link_to 'Edit', edit_rotum_path(rotum) %></td>

        <% if current_doctor.admin == true %>
        <td><%= link_to 'Destroy', rotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rota %>
<div>
  <%= link_to 'New Rota', new_rotum_path, :class => "btn btn-success" %>
  <%= link_to 'Just me', {:controller=>:rota, :action=>'index', :doctor => @current_doctor}, :class => "btn btn-success" %>
  <%= link_to 'All', {:controller=>:rota, :action=>'index'}, :class => "btn btn-success" %>
  <%= link_to 'Market place', {:controller=>:rota, :action=>'index',:market => 'yes'}, :class => "btn btn-success" %>

<br><br>Trade a Session:
<%= link_to image_tag("market.png", alt: "trade session", size: "20") %>
