<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @rotum.Date %>
</p>

<p>
  <strong>1st on call day:</strong>
  <%= @rotum.First_on_call_day %>
</p>

<p>
  <strong>1st on call nights:</strong>
  <%= @rotum.First_on_call_nights %>
</p>

<p>
  <strong>2nd on call:</strong>
  <%= @rotum.Second_on_call %>
</p>

<%= link_to 'Edit', edit_rotum_path(@rotum) %> |
<%= link_to 'Back', rota_path %>
