<p id="notice"><%= notice %></p>

<div class="container">
<table class="table table-bordered">

<tr>
  <td>
  <strong>Location:</strong>
  <%= @rotum.location.name %>
</td>
</tr>
<tr>
  <td>
  <strong>Date:</strong>
  <%= @rotum.Date %>
</td>
</tr>
<tr>
  <td>
  <strong>1st on call day:</strong>
  <%= @rotum.First_on_call_day.name %>
</td>
</tr>
<tr>
  <td>
  <strong>1st on call nights:</strong>
  <%= @rotum.First_on_call_nights.name %>
  </td>
</tr>
<tr>
  <td>
  <strong>2nd on call:</strong>
  <%= @rotum.Second_on_call.name %>
</td>
</tr>
<tr>
  <td>
  <strong>Consultant:</strong>
  <%= @rotum.Consultant.name %>
</td>
</tr>

</table>
</div>

<%= link_to 'Edit', edit_rotum_path(@rotum) %> |
<%= link_to 'Back', rota_path %>
